<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../model/style/">
    <title>Title</title>
</head>

<body>

    <script>
        function chooseIcon(icon) {
            document.getElementById("my-dropdown").innerHTML = icon;
        }
    </script>

    <div class="container">
        <div class="dropdown">
            <button id="my-dropdown" class="btn btn-light dropdown-toggle" data-toggle="dropdown" name="" aria-haspopup="true" aria-expanded="false">choose Icon</button>
            <div class="dropdown-menu " aria-labelledby="my-dropdown">
                <p class="dropdown-item btn btn-dark active" value="sad" onclick="chooseIcon('sad')"><i class="fas fa-sad-cry text-warning"></i> sad</p>
                <p class="dropdown-item active" value="happy" onclick="chooseIcon('happy')">happy</p>
                <p class="dropdown-item active">Sad</p>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>